<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medbrain.fuzzy.medbrain" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsersView"
            android:label="@string/title_activity_users_view"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medbrain.fuzzy.medbrain.MainActivity" />
        </activity>
        <activity
            android:name=".AddNewUser"
            android:label="@string/title_activity_add_new_user"
            android:parentActivityName=".UsersView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medbrain.fuzzy.medbrain.UsersView" />
        </activity>
        <activity
            android:name=".PrescriptionCreationActivity"
            android:label="@string/title_activity_prescription_creation"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medbrain.fuzzy.medbrain.MainActivity" />
        </activity>
        <activity
            android:name=".AddNewContact"
            android:label="@string/title_activity_add_new_contact"
            android:parentActivityName=".ContactsView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medbrain.fuzzy.medbrain.ContactsView" />
        </activity>
        <activity
            android:name=".ContactsView"
            android:label="@string/title_activity_contacts_view"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medbrain.fuzzy.medbrain.MainActivity" />
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medbrain.fuzzy.medbrain.MainActivity" />
        </activity>
        <activity
            android:name=".AddNewApp"
            android:label="@string/title_activity_add_new_app"
            android:parentActivityName=".CalendarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medbrain.fuzzy.medbrain.CalendarActivity" />
        </activity>
        <activity
            android:name=".MedSelectionActivity"
            android:label="@string/title_activity_med_selection" >
        </activity>
        <activity
            android:name=".PrescriptionViewActivity"
            android:label="@string/title_activity_prescription_view" >
        </activity>
        <activity
            android:name=".UserInfo"
            android:label="@string/title_activity_user_info"
            android:parentActivityName=".UsersView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medbrain.fuzzy.medbrain.UsersView" />
        </activity>
    </application>

</manifest>
